# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/codeStyles/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/learning_log.iml
.idea/misc.xml
.idea/modules.xml
db.sqlite3
learning_log/
learning_logs/
ll_env/
manage.py
templates/
