# Created by .ignore support plugin (hsz.mobi)

#.idea/.gitignore
#.idea/codeStyles/
#.idea/encodings.xml
#.idea/inspectionProfiles/
#.idea/learning_log.iml
#.idea/misc.xml
#.idea/modules.xml
#db.sqlite3
#learning_log/
#learning_logs/
#manage.py
#templates/

ll_env/
__pycache__/
*.sqlite3
